<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--共12+1个-->
    <add key="ServerIP" value="192.168.3.127" />
    <add key="ServerPort" value="8085" />


    <add key="checkRecDataQueueTimeInterval" value="10" />
    <add key="checkSendDataQueueTimeInterval" value="3000" />
    <add key="checkDataBaseQueueTimeInterval" value="5000" />

    <add key="maxTimeOut" value="60" />
    <add key="ServerDB" value="server=localhost;user id=root;pwd=123456;port=3306;pooling=False;charset=utf8;database=menjin" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>