<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="192.168.3.127" />
    <add key="ServerPort" value="8085" />
    <add key="checkRecDataQueueTimeInterval" value="10" />
    <add key="checkDataBaseQueueTimeInterval" value="100" />
    <add key="maxTimeOut" value="60" />
    <add key="ServerDB" value="server=192.168.3.152;user id=root;pwd=123456;port=3306;pooling=False;charset=utf8;database=menjin" />
  </appSettings>
</configuration>